ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    list-style: none;
    justify-content: space-between;
}

ul li {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: var(--thirdBaseColor);
    box-shadow: 0px 0px 5px var(--secondBaseColor);
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms all;
}

ul li:hover {
    transform: scale(1.1);
}